nav  {font-size:13px;
    font-family:Tahoma;
	width:100%;

}
nav ul {margin:0 auto;
	z-index:2;
    width:100%;
	
	


}
nav ul ul {
	display: none;
	vertical-align:top;
	z-index:2;

}

	nav ul li:hover > ul {
		display: block;
		border-bottom: 0px;
		
	}


nav ul {
	background:transparent; 
	padding: 0px 0px;
	list-style: none;
	position:relative;
	display: inline-table;

}
	nav ul:after {
		content: ""; clear: both; display: block;

}
nav ul li {float: left;
	border-bottom: 0px;
    width:100%;
    height:50px;
    cursor:pointer;


}
    nav ul li:hover {
        transition: all 0.5s ease;
        border-bottom: 0px;
        background: transparent;
        background:rgb(54,127,169);
        

}
		nav ul li:hover a {color:rgb(0,0,0);
			border-bottom: 0px;
			display: block;

/*		
	}


nav ul li {float: left;
	border-bottom: 0px;
    width:100%;
    padding:15px 0px;
    height:18px;
    cursor:pointer;
*/			
		}

	
	nav ul li a {
		display: block;
        margin-left:50px;
		color:rgba(0, 0, 0, 0.5); 
        text-decoration: none;
        font-weight:600;
        padding:15px 0px;
}            
    
    	
	nav ul li a input[type="button"]{
		display: block;
		color:rgba(0, 0, 0, 0.5); 
        text-decoration: none;
        font-weight:600;
        padding:15px 0px;
        width:100%;
        margin-top:-15px; 
        margin-left:0px;
        text-align:left;
        		

}
    nav > ul > .PanelDiv > li.active{
         color: rgb(255, 255,255);
         background: #F9F9F9;
        
}
    nav > ul > .PanelDiv > li.active:hover{
         color: rgb(255, 255,255);
         background:rgb(54,127,169);
        
    }
 