@charset "utf-8";
/* CSS Document */
.grid{width:800px; display:inline-block
}
#grid_title{display:inline-block; width:800px; float:left
}
#grid_header{ width:99px; height:24px; padding:10px 0px 0px 0px; float:left; border-bottom:#000 1px solid; border-right:#000 1px solid; border-top:#000 1px solid
}
#grid_header2{ width:49px; height:24px; padding:10px 0px 0px 0px; float:left; border-bottom:#000 1px solid; border-right:#000 1px solid; border-top:#000 1px solid
}
#grid_header3{ width:200px; height:24px; padding:10px 0px 0px 0px; float:left; border-bottom:#000 1px solid; border-right:#000 1px solid; border-top:#000 1px solid;
}
#grid_header4{ width:97px; height:24px; padding:10px 0px 0px 0px; float:left; border-bottom:#000 1px solid; border-top:#000 1px solid; border-right:#000 1px solid
}
#grid_header5{ width:199px; height:24px; padding:10px 0px 0px 0px; float:left; border-bottom:#000 1px solid; border-right:#000 1px solid; border-top:#000 1px solid; border-left:#000 1px solid;
}
#grid_body{display:inline-block; width:800px; float:left; font-weight:100
}
#grid_content{width:99px; height:20px; padding:5px 0px 0px 0px; float:left; border-right:#000 1px solid; border-bottom:#000 1px solid
}
#grid_content2{width:49px; height:20px; padding:5px 0px 0px 0px; float:left; border-right:#000 1px solid; border-bottom:#000 1px solid
}
#grid_content3{width:195px; height:20px; padding:5px 0px 0px 0px; float:left; border-right:#000 1px solid; border-bottom:#000 1px solid; text-align:left; padding-left:5px
}
#grid_content4{width:97px; height:20px; padding:5px 0px 0px 0px; float:left; border-bottom:#000 1px solid; border-right:#000 1px solid
}
#grid_content5{width:194px; height:20px; padding:5px 0px 0px 0px; float:left; border-left:#000 1px solid; border-right:#000 1px solid; border-bottom:#000 1px solid; text-align:left; padding-left:5px
}
/*#gridcontent1{background:#ccc; width:100%; height:25px; float:left
}
#gridcontent2{background:#f9f9f9; width:100%; height:25px; float:left
}*/
#totals{ width:798px; height:30px; float:left; border-bottom:#000 1px solid; border-left:#000 1px solid; border-right:#000 1px solid; display:inline-block; font-weight:bold
}
#total_content1{ width:700px; height:23px; float:left; padding:7px 0px 0px 0px
}
#total_content2{ width:97px; height:23px; float:left; border-left:#000 1px solid; padding:7px 0px 0px 0px
}