<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WMDPortal.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
   
  <configSections>
        <sectionGroup name="system.web">
            <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit"/>
        </sectionGroup>
    </configSections>
 
    <system.web>
 
        <sanitizer defaultProvider="AntiXssSanitizerProvider">
            <providers>
                <add name="AntiXssSanitizerProvider"
                     type="AjaxControlToolkit.Sanitizer.AntiXssSanitizerProvider"></add>
            </providers>
        </sanitizer>
 
 
        <compilation debug="true" TargetFramework="4.0" />
        <pages>
            <controls>
                <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
            </controls>
        </pages>
   
  
        <httpRuntime targetFramework="4.5" />
		<customErrors mode="RemoteOnly"/>
   
  </system.web>
  <applicationSettings>
    <WMDPortal.My.MySettings>
      <setting name="AdminUsername" serializeAs="String">
        <value>DBAdmin</value>
      </setting>
      <setting name="AdminPassword" serializeAs="String">
        <value>CreateDatabaseAdmin</value>
      </setting>
      <setting name="BackUsername" serializeAs="String">
        <value>Shadowwalker</value>
      </setting>
      <setting name="BackPassword" serializeAs="String">
        <value>Shadownet</value>
      </setting>
      <setting name="BulkSMSSecurityCode" serializeAs="String">
        <value>XMASNDNKAS1D45Fc245651JASJ</value>
      </setting>
    </WMDPortal.My.MySettings>
  </applicationSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="tst" value="text/plain"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network defaultCredentials="false" host="" password="" port="25" userName=""/>
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Users\NIGERCO NIG LTD\Desktop"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>