#login{ width:130px; height:28px; float:left; padding:0px 0px 0px 0px; margin:5px 5px 5px 0px; text-align:right; border:1px solid #f3f3f3; display:inline-block; background:#B1D9E0
}
#login2{ width:50px; height:28px; float:left; padding:0px 0px 0px 0px; margin:5px 0px 5px 0px; text-align:right; border:1px solid #f3f3f3; display:inline-block; background:#B1D9E0
}
#login3{ width:300px; height:28px; float:left; padding:10px 0px 0px 0px; margin:5px 0px 5px 0px; text-align:right; display:inline-block; font-weight:bold; color:#000
}
#login3 a{color:#000
}
.theinput3{ width:130px; height:28px; border:none; padding:0; margin:0; background:none
}
.theinput4{ width:50px; height:28px; border:none; padding:0px 0px 2px 0px; margin:0; background:none; color:#F00
}