#login{ width:120px; height:28px; float:left; padding:0px 0px 0px 0px; margin:5px 5px 5px 0px; text-align:right; border:1px solid #f3f3f3; display:inline-block; background:#B1D9E0
}
#loginx{ width:80px; height:28px; float:left; padding:0px 0px 0px 0px; margin:5px 5px 5px 0px; text-align:right; border:1px solid #f3f3f3; display:inline-block; background:#B1D9E0
}
#login2{ width:50px; height:28px; float:left; padding:0px 0px 0px 0px; margin:5px 0px 5px 0px; text-align:right; border:1px solid #f3f3f3; display:inline-block; background:#B1D9E0
}
#login3{ width:200px; height:28px; float:left; padding:10px 0px 0px 0px; margin:5px 0px 5px 0px; text-align:right; display:inline-block; font-weight:bold; color:#000
}
#login3 a{color:#000
}
.theinput3{ width:130px; height:28px; border:none; padding:0; margin:0; background:none
}
.theinput4{ width:50px; height:28px; border:none; padding:0px 0px 2px 0px; margin:0; background:none; color:#F00
}
#login4{ width:300px; height:28px; float:left; padding:10px 0px 0px 0px; margin:5px 0px 5px 0px; text-align:right; display:inline-block; font-weight:bold; color:#000
}
#login4 a{color:#000}
#login5{ width:220px; height:28px; float:left; padding:10px 0px 0px 0px; margin:5px 0px 5px 0px; text-align:right; display:inline-block; font-weight:bold; color:#000
}
#login5 a{color:#000}
#login6{ width:350px; height:28px; float:left; padding:10px 0px 0px 0px; margin:5px 0px 5px 0px; text-align:right; display:inline-block; font-weight:bold; color:#000
}
#login6 a{color:#000
}
#login7{ width:250px; height:28px; float:left; padding:10px 0px 0px 0px; margin:5px 0px 5px 0px; text-align:right; display:inline-block; font-weight:bold; color:#000
}
#login7 a{color:#000}

#login8{ width:290px; height:28px; float:left; padding:10px 0px 0px 0px; margin:5px 0px 5px 0px; text-align:right; display:inline-block; font-weight:bold; color:#000
}
#login8 a{color:#000}

#login9{ width:320px; height:28px; float:right; padding:5px 0px 0px 0px; margin:5px 0px 5px 0px; text-align:right; display:inline-block; font-weight:bold; color:#000
}
#login9 a{color:#000
}