nav  {
    font-size:13px;
	float:right;
    font-family:Tahoma;
	position: relative;
    margin-bottom:10px;

}
nav ul {
    margin:0 auto;
 
 
}
nav ul ul {
	display: none;
	vertical-align:top;

}

nav ul li:hover > ul {
    display: block;
    border-bottom: 0px;
		
}

nav ul {
	background:transparent; 
	padding: 0 10px;
	list-style: none;
	position:relative;
	display: inline-table;

}
nav ul:after {
    content: ""; 
    clear: both; 
    display: block;
		
}

nav ul li {
    float: left;
	border-bottom: 0px;

}
nav ul li:hover {
    transition: all 0.5s ease;
    border-bottom: 0px;
    background: rgb(255,255,255);
        
}
nav ul li:hover a {
    color:#09f;
    border-bottom: 0px;
    display: block;
			
}

nav ul li a {
    display: block;
    padding: 11.7px 15px;
    color: rgb(255, 255,255);
    text-decoration: none;
    font-weight: 600;

}   
nav > ul > li.active > a {
    color: rgb(255, 255,255);
    border-radius: 0px 0px 0px 0px;
    background:rgb(54,127,169);
    color:rgb(0, 0, 0);
        
}
 
 
nav ul ul {
	background: rgb(255,255,255); 
    border-radius: 0px; 
    padding:0;
	position: absolute; 
    top: 100%;
 	transition: all 0.5s ease;
    z-index:50;
    margin-top:-5px;
    width:250px;
}
nav ul ul li{
    float: none; 
    border-top: 0px solid #6b727c;
    border-bottom: 0px solid #575f6a;
    position: relative;
    z-index:10;
    transition: all 0.5s ease;
    width:100%;
    color:rgb(0,0,0);
 
}

nav ul ul li input.icon{
    border-top:1px solid rgb(255,255,255);
    background:rgb(12, 76, 112);
  }
nav ul ul li input.icon:hover{
    border-top:1px solid rgb(255,255,255);
    background:rgb(12, 76, 112);
 
}
nav ul ul li a {
    padding: 7px 15px;
    font-weight:normal;
    color:rgb(0,0,0);
}
nav ul ul li a:hover {
    color: rgb(0,0,0);
    transition: all 0.5s ease;
    border-top:1px solid rgb(255,255,255);
    background:rgb(12, 76, 112);
}














.nav {
    font-size: 13px;
    float: right;
    font-family: Tahoma;
    position: relative;
    text-transform:capitalize;
}


.nav ul {
    float:right;

 
 
}
.nav ul ul {
	display: none;
	vertical-align:top;

}

.nav ul li:hover > ul {
    display: block;
    border-bottom: 0px;
		
}

.nav ul {
	background:transparent; 
	padding: 0px;
	list-style: none;
	position:relative;
	display: inline-table;

}
.nav ul:after {
    content: ""; 
    clear: both; 
    display: block;
		
}

.nav ul li {
	border-bottom: 0px;
    margin:0;
    display: inline-block;
    text-decoration: none;
    float:right;
    margin:0px;
    text-align:right;
    position:relative;
    text-transform:uppercase;

 }
.nav ul li .sub {
    display: block;
    padding: 16.3px 35px;
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
    background: transparent url("../images/arrow-down.png") no-repeat scroll 90% 50% / 10px; 


}
.nav ul li:hover {
    transition: all 0.5s ease;
    border-bottom: 0px;
    background-color:rgb(255,255,255);
    color:rgb(0,0,0);

}
.nav ul li:hover .button-label{
    color:rgba(64,150,238,1);
}

.nav ul li a {
    padding: 0px;
    text-decoration: none;
    font-weight: 600;


}
 
 
.nav ul ul {
	background: rgb(255,255,255); 
    border-radius: 0px; 
    padding:0;
	position: absolute; 
    top: 100%;
 	transition: all 0.5s ease;
    z-index:50;
    margin-top:-0px;
    margin-left:0px;
    width:110px;
    right:0;
 
}

.nav ul ul li .icon{
    background:transparent;
    border :none;
    margin:0px;
    cursor:pointer;
    text-align:right;
    padding:10px 20px;
    position: relative;
    z-index:10;
    transition: all 0.5s ease;
    margin:0px;
    color:rgb(0,0,0);
    width:100%;


  }
.nav ul ul li .icon:hover{
    color:rgba(64,150,238,1);
    background:transparent;
    border :none;
    margin:0px;
    width:100%;
 
}
.nav ul ul li a {
    font-weight:normal;
    color:rgb(0,0,0);
    text-align:right;
}
.nav ul ul li a:hover {
    color: rgb(0,0,0);
    transition: all 0.5s ease;
    color:rgba(64,150,238,1);
}				


